.links{
	margin-top: 50px;
	margin-left: 200px;
	width: 200px;
	height:200px;
	background: #000;
}

.box{
        color: #fff;
        display: none;
		height: 300px;
		width: 200px;
}
.skill{ background: #000; }
.project{ background: #000; }
label{ margin-right: 15px; }


.links .link {
  --color: rgba(255, 255, 255, 0.5);
  position: relative;
  color: var(--color);
  margin: 2rem;
  cursor: none;
  transition: color 300ms ease;
}
.links .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease;
}
.links .link:hover {
  --color: rgb(255, 255, 255);
}
.links .link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
