.clicker {
	margin-top: 100px;
	margin-left: 300px;
	width:100px;
	height:100px;
	background-color: blue;
}
.clicker1{
	position: relative;
	width:100px;
	height:30px;	
	cursor:pointer;
}
.clicker2{
	position: relative;
	width:100px;
	height:30px;	
	cursor:pointer;
}
.clicker2{
	position: relative;
	width:100px;
	height:30px;	
	cursor:pointer;
}

.hiddendiv{
	position: relative;
	margin-left: 0px;
	left:0px;
	display:none;
	height:400px;
	width: 400px;
	background-color:black;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 1s infinite;
}
.star:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}
.star:nth-child(2) {
    top: 50%;
    left: 50%;
    animation-delay: 0s;
}
.star:nth-child(3) {
    top: 70%;
    left: 70%;
    animation-delay: 0s;
}


.clicker:focus + .hiddendiv{
	display:block;
}